<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>picHeight</key>
		<string>375</string>
		<key>picUrl</key>
		<string>http://wanzao2.b0.upaiyun.com/288128361458702650772.png</string>
		<key>picWidth</key>
		<string>375</string>
		<key>title</key>
		<string>快乐一家</string>
		<key>videoUrl</key>
		<string>http://videoss.b0.upaiyun.com/288128361444807686146.mp4</string>
	</dict>
	<dict>
		<key>picHeight</key>
		<string>209</string>
		<key>picUrl</key>
		<string>http://kindeditor.b0.upaiyun.com/14563210808550df643052fc9862d1.jpg</string>
		<key>picWidth</key>
		<string>375</string>
		<key>title</key>
		<string>【悲剧傻缺集锦】 失误篇!.</string>
		<key>videoUrl</key>
		<string>http://videoss.b0.upaiyun.com/1456321071f5ecb8c36f6df2d4efae.mp4</string>
	</dict>
	<dict>
		<key>picHeight</key>
		<string>206</string>
		<key>picUrl</key>
		<string>http://kindeditor.b0.upaiyun.com/1456237327445e8ba3afd596baa117.jpg</string>
		<key>picWidth</key>
		<string>375</string>
		<key>title</key>
		<string>致敬老去的星爷和优秀的LOL视频创作者！.</string>
		<key>videoUrl</key>
		<string>http://videoss.b0.upaiyun.com/1456237346e6cf2473463ca8689eb6.mp4</string>
	</dict>
	<dict>
		<key>picHeight</key>
		<string>210</string>
		<key>picUrl</key>
		<string>http://kindeditor.b0.upaiyun.com/1456237257623a137390b445d728ce.jpg</string>
		<key>picWidth</key>
		<string>375</string>
		<key>title</key>
		<string>新发型和作死挑战.</string>
		<key>videoUrl</key>
		<string>http://videoss.b0.upaiyun.com/1456237267276f63da17b201d7bfd1.mp4</string>
	</dict>
	<dict>
		<key>picHeight</key>
		<string>210</string>
		<key>picUrl</key>
		<string>http://wanzao2.b0.upaiyun.com/74361331458659114397.png</string>
		<key>picWidth</key>
		<string>375</string>
		<key>title</key>
		<string>标题</string>
		<key>videoUrl</key>
		<string>http://videoss.b0.upaiyun.com/74361331458574881411.mp4</string>
	</dict>
	<dict>
		<key>picHeight</key>
		<string>375</string>
		<key>picUrl</key>
		<string>http://kindeditor.b0.upaiyun.com/14586984119618fbc6aee20d143e7c.png</string>
		<key>picWidth</key>
		<string>375</string>
		<key>title</key>
		<string>海参炒面？海参呢？给我一个完美的解释！</string>
		<key>videoUrl</key>
		<string>http://videoss.b0.upaiyun.com/2016/3/1458691394.mp4</string>
	</dict>
	<dict>
		<key>picHeight</key>
		<string>210</string>
		<key>picUrl</key>
		<string>http://wanzao2.b0.upaiyun.com/288007001458740145962.png</string>
		<key>picWidth</key>
		<string>375</string>
		<key>title</key>
		<string>波啦啦</string>
		<key>videoUrl</key>
		<string>http://videoss.b0.upaiyun.com/28800700http___videoss.b0.upaiyun.com_28452712http___videoss.b0.upaiyun.com_278163801456043632156.mp4</string>
	</dict>
	<dict>
		<key>picHeight</key>
		<string>375</string>
		<key>picUrl</key>
		<string>http://wanzao2.b0.upaiyun.com/287856861458662320400.png</string>
		<key>picWidth</key>
		<string>375</string>
		<key>title</key>
		<string>我是个讲理的人</string>
		<key>videoUrl</key>
		<string>http://videoss.b0.upaiyun.com/287856861458653920460.mp4</string>
	</dict>
</array>
</plist>
